:root {
  /* Colors */

  --clr-activities-bck-light: #F1FAEE;
  --clr-text-background-blue-dark: #1D3557;
  --clr-text-background-blue-light: #457B9D;
  --clr-activities-guide-background: #A8DADC;

}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("Images/city-view.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h1 {
  font-size: 3rem;
  padding: 5px 20px;
  background-color: var(--clr-text-background-blue-dark);
  margin-bottom: 20px;
  border-radius: 10px;
}

.hero-text h2 {
  font-size: 1.5rem;
  background-color: var(--clr-text-background-blue-light);
  padding: 5px 30px;
  border-radius: 10px;
}

.activities-section {
  background-color: var(--clr-activities-bck-light);
  color: var(--clr-text-background-blue-dark);
  padding: 50px 0;
}

.action-wrapper-container {
  display: flex;
  justify-content: space-evenly;
}

.activities-section h3 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.img-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.activities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.activities-container h4 {
  margin-bottom: 10px;
}

.guide-section {
  background-color: white;
  color: var(--clr-text-background-blue-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.guide-card img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.guide-card {
  background-color: var(--clr-activities-guide-background);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: 50px auto;
}

.text-wrapper h3 {
  margin-bottom: 10px;
}

.text-wrapper p {
  margin-bottom: 10px;
}